.alc-problem-input-bar {
    background-color: #666;
}
.alc-problem-input-main .alc--main-input {
    background-color: gray;
    color: whitesmoke;
}

.alc-problem-input-main .alc--main-input::placeholder {
    color: whitesmoke;
}

.alc-panel-headed {
    box-shadow: none;
}

.alc-panel-headed .alc--main,
.grey-panel .content, 
.aops-panel {
    background-color: #444;
}

#alc-page .aops-panel h1 {
    color: #009fad;
}
