#main-menubar,
#header {
    color: white;
    background-color: #2f2f2f;
}

.menubar-label-link {
    color: #009fad !important; /* Need this too */
}

.sharedsite-wrapper {
    background-color: #1f1f1f;
}

.sharedsite-wrapper .site-link {
    color: white;
}

.sharedsite-links .site-link.selected {
    background-color: #444;
}
#header:not(.shrunken-header) .dropdown-visible.site .site-link,
.site-dropdown-wrapper {
    background-color: #555 !important; /* Need !important */
}

.login-dropdown-divider {
    display: none;
}

.login-dropdown-content {
    background-color: #555;
    border-top: 2px solid #009fad;
}