.school .tab-contents, .store .tab-contents {
    background-color: #333;
}

h3,
.sch-carousel-outer .arrow-icon,
h1 {
    color: #009fad;
}

.school-quote {
    background-color: #1d1d1d;
}

.instructor-row,
div.testimonial,
.faq-panel .grey-panel div.content,
.woot-testimonial {
    background-color: #222;
}
.instructor-row:hover {
    background: #2e2e2e;
}

div.testimonial a {
    color: #ddd;
}
